@font-face {
  font-family: "Unbounded";
  src: url("../fonts/unbounded/Unbounded-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Unbounded", sans-serif !important;
}

:root {
  --main-color: #314075;
  --main-color2: #ff6c00;
  --br: 10px;
}


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* CONTAINER */
.container {
  width: 1300px;
  margin: 0 auto;
}
header{
  position: fixed;
  width: 100%;
  margin: auto;
  z-index: 300;
}
/* HEADER TOP */
.header-top {
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid var(--main-color2);
  padding-bottom: 60px;
}

.header-top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.header-top-content img {
  height: 100%;
  width: 220px;
  object-fit: cover;
}

/* RIGHT SIDE */
.header-top-right {
  display: flex;
  align-items: center;
}

/* ICON BLOCK */
.header-top-icons {
  display: flex;
  gap: 40px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* ICON BOX (yellow square) */
.iconlink {
  width: 50px;
  height: 50px;
  background: var(--main-color2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px
}

.iconlink svg {
  width: 25px;
  height: 25px;
  fill: #000;
}

/* TEXT */
.textlink {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.textlink span {
  font-size: 13px;
  color: #777;
  text-transform: none;
  font-weight: 400;
}

/* MENU BAR */
.menu {
  background: var(--main-color2);
  padding: 20px 30px;
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius:10px
}

/* NAV */
nav ul {
  display: flex;
  list-style: none;
  gap: 35px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  transition: 0.3s ease;
}
nav ul li a:hover{
  opacity: 0.7;
}

/* SOCIAL ICONS AREA (SEARCH YERINE) */
.socialicons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.socialicons a {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}
.socialicons a:hover{
  opacity: 0.7;
}
.socialicons img {
  width: 100%;
  object-fit: cover;
}
/* DROPDOWN BASE */
.dropdown {
  position: relative;
}

/* GAP FIX */
.dropdown::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 10px;
}

/* LINK */
.dropdown > a {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* ICON */
.dropdown svg {
  width: 12px;
  height: 12px;
  transition: 0.3s ease;
}

/* ROTATE */
.dropdown:hover svg {
  transform: rotate(180deg);
}

/* SUBMENU */
.submenu {
  position: absolute;
  top: 150%;
  left: 0;
  background: #fff;
  min-width: 220px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);

  transition: 0.3s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  z-index: 99;
}

/* SHOW */
.dropdown:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* ITEMS */
.submenu li a {
  display: block;
  padding: 12px 15px;
  color: #000;
  font-size: 14px;
  transition: 0.2s;
  white-space: nowrap;
}

/* HOVER */
.submenu li a:hover {
  background: #f4b400;
  color: #000;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding-top: 50px;
}

a{
  text-decoration: none;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  color: #fff;
  margin-top: 70px;
}

.hero-title {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.05;
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
}

.hero-text {
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
  opacity: 0.9;
  max-width: 80%;
}

.view-posts-btn {
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 24px;
  padding: 8px 8px 8px 24px;
  border-radius: var(--br);
  background: var(--main-color2);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    transform 0.1s ease;
  width: fit-content;
}

.view-posts-btn:hover {
  background-color: var(--main-color);
}

.view-posts-btn:active {
  transform: scale(0.95);
}

.btn-text {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.view-posts-btn:hover .btn-text {
  color: #fff;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  padding: 8px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.view-posts-btn:hover .btn-icon {
  transform: rotate(45deg);
}

.btn-icon svg {
  width: 20px;
  height: 20px;
  color: #fff;
  transition: transform 0.3s ease;
}

.view-posts-btn:hover .btn-icon svg {
  transform: rotate(-45deg);
}

@media (max-width: 992px) {
  .hero-title {
    font-size: 40px;
  }

  .hero-text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .hero-title {
    font-size: 31px;
  }
  .hero-text {
    max-width: 100%;
  }
  .btn-text {
    font-size: 14px;
  }
  .hero-text {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .hero {
    height: auto;
    padding: 100px 0;
  }
  .hero-title {
    font-size: 21px;
  }
}

.hero {
  position: relative;
}

.hero-swiper {
  width: 100%;
  height: 100vh;
}

.hero-swiper .swiper-slide {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.slide-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-swiper .swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.6) 35%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.2) 100%
  );
  z-index: 1;
}

/* RESET default */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

/* BASE */
.swiper-button-prev,
.swiper-button-next {
  width: 70px;
  height: 60px;
  background: var(--main-color2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* LEFT BUTTON (sol tərəf) */
.swiper-button-prev {
  top: 85%;
  right: 160px;
  left: inherit !important;
  clip-path: polygon(11% 0, 100% 0%, 88% 100%, 0% 100%);
}

/* RIGHT BUTTON (sağ tərəf) */
.swiper-button-next {
  top: 85%;
  right: 80px;
  clip-path: polygon(11% 0, 100% 0%, 88% 100%, 0% 100%);
}

/* ICON (öz svg qoyuruq) */
.swiper-button-prev::before,
.swiper-button-next::before {
  content: "";
  width: 13px;
  height: 13px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}


/* LEFT ARROW */
.swiper-button-prev::before {
  transform: rotate(-135deg);
}

/* RIGHT ARROW */
.swiper-button-next::before {
  transform: rotate(45deg);
}

/* HOVER */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #f4b400;
}

.section-title {
    margin-bottom: 20px
}

.section-title .banner {
    margin-bottom: 15px;
    padding: 10px 23px 10px 44px;
    border-radius: 10px;
    width: fit-content;
    position: relative;
    background: #fff;
    font-size: 27px;
    display: flex;
    align-items: center;
    line-height: 1;
    letter-spacing: .5px;
    color: #404a3d;
    text-transform: capitalize;
    font-style: normal;
    font-weight: bold
}


.product-main-area {
    width: 100%
}

.product-main-category {
    display: none
}

.product-main-category.selected-category {
    display: block
}

.product-main-category .row {
    row-gap: 20px
}

.product-main-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-main-filter {
    width: 100%;
    position: relative
}

.product-filter-drop {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 30px;
    background: var(--default);
    color: #fff;
    border: none;
    cursor: pointer
}

.product-filter-drop svg {
    margin-left: 10px
}

.product-main-filter ul {
    position: absolute;
    display: none;
    margin-top: 10px;
    padding: 10px;
    background: #fff;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 10px;
    z-index: 3;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0
}

.product-main-filter ul li {
    padding: 10px 5px;
    transition: .3s ease-in-out;
    color: var(--default);
    font-size: 13px;
    overflow: hidden;
    line-height: 1.2;
    text-align: start;
    cursor: pointer;
    display: flex;
    gap: 20px;
    align-items: center
}

.product-main-filter ul li span {
    color: currentColor
}

.product-main-filter ul li img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    transform: translateX(1000%);
    transition: .3s ease-in-out
}

.product-main-filter ul li.active-item>img,.product-main-filter ul li:hover>img {
    transform: translateX(0)
}

.product-main-filter ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px
}

.product-main-filter ul li.active-item,.product-main-filter ul li:hover {
    background: #ddd;
    color: var(--black);
    border-radius: 10px
}

.product-card-kate {
    width: 100%;
    height: 245px;
    border-radius: 4px;
    overflow: hidden
}

.product-card-kate a {
    display: block;
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%
}

.product-card-kate a h4 {
    position: relative;
    z-index: 2;
    bottom: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #fff;
    transition: .3s;
    font-size: 16px
}

.product-card-kate a img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    inset: 0
}

.product_kate_logo {
    inset: unset!important;
    width: 100px!important;
    height: auto!important;
    left: 10px!important;
    top: 0!important
}

.product-card-kate a::after {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom,rgba(255,255,255,0),#ff6c006e);
    width: 100%;
    height: 160px;
    bottom: 0;
    left: 0;
    transition: .3s
}

.product-card-kate a:hover:after {
    opacity: .5
}

@media screen and (min-width: 768px) {
    .section-title .banner {
        font-size:28px
    }
}

@media screen and (min-width: 992px) {

    .product-main-filter ul {
        position: unset;
        display: block;
        max-height: 515px;
        margin: 0;
        overflow-y: auto
    }

    .product-main-filter ul::-webkit-scrollbar {
        width: 2px
    }

    .product-main-filter ul::-webkit-scrollbar-track {
        background: #5acc3449
    }

    .product-main-filter ul::-webkit-scrollbar-thumb {
        background: var(--main-color2)
    }

    .product-filter-drop {
        display: none
    }

    .product-main-filter {
        width: 300px;
        height: fit-content;
        border-radius: 10px;
        box-shadow: rgba(99,99,99,.2) 0 2px 8px 0
    }

    .product-main-area {
        width: calc(100% - 320px);
        padding: 0 12px
    }
}
.row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: stretch
}
.section-title .banner:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;

  width: 30px;
  height: 30px;

  background: url("/assests/img/Favicon.svg") no-repeat center;
  background-size: contain;

  transform: translateY(-50%);
}

.section-title {
    margin-bottom: 20px
}



.section-description p {
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    line-height: 1.2
}

.aboutAdvantagesArticle {
    width: 100%
}

.aboutAdvantagesNavigation li.activePagination .aboutAdvantagesArticle p,.aboutAdvantagesNavigation li.activePagination .aboutAdvantagesFigure h5,.aboutAdvantagesNavigation li:hover .aboutAdvantagesArticle p,.aboutAdvantagesNavigation li:hover .aboutAdvantagesFigure h5 {
    color: var(--color-1)
}

.advantages-area {
    margin-top: 20px
}

.aboutAdvantagesArticle p,.aboutAdvantagesFigure h5 {
    text-overflow: ellipsis;
    -webkit-line-clamp: unset;
    color: var(--white);
    -webkit-box-orient: unset;
    text-align: center
}

.discover_us_bg {
    background: linear-gradient(135deg, #314075, #3d4f8f);
}

.discover-us {
    position: relative;
    padding: 70px 0;
    overflow: hidden
}

.discover_us_bg {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    z-index: 1
}

.discover-us .container {
    position: relative;
    z-index: 2
}

.discover-us .row {
    row-gap: 20px;
    align-items: center
}

.advantages-area .row {
    align-items: unset
}

.aboutImagesGallery {
    border-radius: 10px;
    position: relative
}

.aboutImagesGallery figure {
    overflow: hidden;
    width: 100%;
    height: 250px
}

.aboutImagesGallery img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.advantages-icons-slide {
    position: absolute;
    right: 0;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 50;
    bottom: 0;
    background: var(--bg-3);
    height: 50px;
    width: 60px
}

.advantages-icons-slide img {
    width: 24px;
    height: 24px;
    filter: invert(0) brightness(0)
}

.aboutAdvantagesNavigation li {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    row-gap: 20px;
    gap: 10px;
    padding: 20px;
    margin-bottom: 10px;
    transition: .4s ease-in-out;
    border-bottom: 1px solid;
    border-bottom-color: var(--border-4)
}

.aboutAdvantagesArticle p,.aboutAdvantagesFigure h5 {
    display: -webkit-box;
    overflow: hidden;
    text-transform: capitalize
}

.aboutAdvantagesNavigation li.activePagination,.aboutAdvantagesNavigation li:hover {
    border-radius: 10px;
    background-color: var(--white)
}

.aboutAdvantagesNavigation li:last-child {
    border-bottom: unset
}

.aboutAdvantagesFigure img {
    margin-right: 10px;
    filter: invert(1);
    transition: .3s ease-in-out
}

.aboutAdvantagesFigure {
    display: flex;
    align-items: center;
    width: 100%
}

.aboutAdvantagesNavigation li.activePagination .aboutAdvantagesFigure img {
    filter: invert(0)
}

.aboutAdvantagesFigure h5 {
    transition: .3s ease-in-out;
    font-size: 22px;
    line-height: 28px
}

.aboutAdvantagesArticle p {
    font-size: 14px;
    transition: .3s ease-in-out;
    line-height: 1.2;
    width: 100%;
    opacity: .7
}

@media screen and (min-width: 375px) {
    .advantages-icons-slide {
        height:50px;
        width: 80px;
        right: 0
    }
}

@media screen and (min-width: 576px) {

    .aboutImagesGallery figure {
        height: 400px;
        overflow: unset;
        border-radius: unset;
        clip-path: polygon(3.384% 0.182%,3.384% 0.182%,3.002% 0.341%,2.634% 0.546%,2.282% 0.793%,1.948% 1.081%,1.634% 1.408%,1.341% 1.773%,1.071% 2.172%,0.826% 2.604%,0.608% 3.067%,0.418% 3.558%,0.317% 3.841%,0.317% 3.841%,0.271% 3.982%,0.229% 4.125%,0.192% 4.27%,0.16% 4.418%,0.133% 4.567%,0.111% 4.717%,0.094% 4.87%,0.082% 5.023%,0.074% 5.177%,0.072% 5.332%,0.072% 94.749%,0.072% 94.749%,0.074% 94.904%,0.082% 95.058%,0.094% 95.211%,0.111% 95.363%,0.133% 95.514%,0.16% 95.663%,0.192% 95.811%,0.229% 95.956%,0.271% 96.099%,0.317% 96.239%,0.418% 96.529%,0.418% 96.529%,0.563% 96.907%,0.725% 97.271%,0.903% 97.617%,1.096% 97.946%,1.303% 98.257%,1.524% 98.548%,1.759% 98.819%,2.006% 99.069%,2.264% 99.296%,2.534% 99.501%,2.74% 99.642%,2.74% 99.642%,2.84% 99.707%,2.941% 99.765%,3.044% 99.816%,3.148% 99.861%,3.254% 99.899%,3.361% 99.93%,3.468% 99.954%,3.577% 99.972%,3.686% 99.982%,3.796% 99.986%,39.641% 100.047%,39.641% 100.047%,50.412% 100.059%,58.89% 100.066%,65.358% 100.059%,70.1% 100.03%,73.401% 99.968%,75.545% 99.866%,76.815% 99.714%,77.497% 99.504%,77.874% 99.227%,78.23% 98.874%,78.23% 98.874%,78.354% 98.752%,78.476% 98.625%,78.595% 98.493%,78.71% 98.357%,78.823% 98.215%,78.933% 98.069%,79.039% 97.918%,79.142% 97.762%,79.242% 97.603%,79.339% 97.438%,79.339% 97.438%,79.571% 96.966%,79.76% 96.509%,79.912% 96.012%,80.031% 95.421%,80.122% 94.681%,80.19% 93.738%,80.24% 92.537%,80.277% 91.024%,80.306% 89.145%,80.332% 86.844%,80.332% 86.844%,80.36% 84.482%,80.388% 82.593%,80.425% 81.112%,80.481% 79.973%,80.565% 79.11%,80.685% 78.459%,80.851% 77.953%,81.072% 77.527%,81.357% 77.116%,81.715% 76.654%,81.715% 76.654%,82.045% 76.223%,82.339% 75.882%,82.654% 75.619%,83.049% 75.422%,83.579% 75.282%,84.303% 75.185%,85.278% 75.122%,86.561% 75.08%,88.21% 75.048%,90.282% 75.016%,96.022% 74.931%,96.022% 74.931%,96.241% 74.92%,96.46% 74.895%,96.677% 74.856%,96.892% 74.804%,97.106% 74.737%,97.316% 74.657%,97.525% 74.563%,97.73% 74.456%,97.932% 74.335%,98.13% 74.201%,98.13% 74.201%,98.13% 74.201%,98.334% 74.056%,98.523% 73.909%,98.698% 73.761%,98.861% 73.611%,99.012% 73.458%,99.151% 73.302%,99.28% 73.141%,99.399% 72.975%,99.51% 72.803%,99.613% 72.624%,99.613% 72.624%,99.613% 72.624%,99.698% 72.448%,99.776% 72.264%,99.844% 72.075%,99.904% 71.88%,99.955% 71.681%,99.997% 71.477%,100.03% 71.271%,100.053% 71.061%,100.068% 70.849%,100.072% 70.635%,100.045% 38.152%,100.003% 5.328%,100.003% 5.328%,100% 5.173%,99.993% 5.02%,99.98% 4.867%,99.963% 4.715%,99.94% 4.565%,99.913% 4.416%,99.881% 4.269%,99.844% 4.124%,99.803% 3.982%,99.757% 3.841%,99.656% 3.55%,99.656% 3.55%,99.51% 3.172%,99.348% 2.81%,99.17% 2.464%,98.977% 2.136%,98.77% 1.826%,98.548% 1.536%,98.314% 1.265%,98.067% 1.017%,97.809% 0.79%,97.539% 0.586%,97.338% 0.445%,97.338% 0.445%,97.238% 0.38%,97.136% 0.322%,97.033% 0.27%,96.928% 0.225%,96.822% 0.187%,96.715% 0.156%,96.606% 0.132%,96.497% 0.115%,96.388% 0.104%,96.278% 0.101%,50.325% 0.061%,50.325% 0.061%,42.799% 0.062%,35.641% 0.066%,28.948% 0.072%,22.818% 0.08%,17.351% 0.091%,12.644% 0.104%,8.795% 0.12%,5.903% 0.138%,4.067% 0.159%,3.384% 0.182%)
    }

    .advantages-icons-slide {
        height: 80px;
        display: flex;
        width: 80px;
        right: 0
    }
}

@media screen and (min-width: 768px) {
    .section-title .banner {
        font-size:28px
    }

    .aboutAdvantagesArticle p,.aboutAdvantagesFigure h5 {
        text-align: unset;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2
    }

    .advantages-icons-slide {
        width: 120px
    }

    .aboutAdvantagesNavigation li {
        flex-wrap: unset;
        justify-content: unset
    }

    .aboutAdvantagesFigure {
        width: 180px
    }

    .aboutAdvantagesArticle {
        width: calc(100% - 180px)
    }
}

@media screen and (min-width: 992px) {

    .advantages-icons-slide {
        width: 80px;
        height: 80px;
        right: 2px;
        bottom: 10px
    }
}

@media screen and (min-width: 1200px) {

    .advantages-icons-slide {
        width: 90px;
        height: 90px;
        right: 8px;
        bottom: 0
    }
}
:root {
  --default: #5b8c51;
  --white: #fff;
  --black: #000;
  --color-1: #314075;
  --bg-4: #5b8c51;
  --bg-5: #d7d7d7;
  --color-2: #404a3d;
  --color-3: #666;
  --color-4: #404a3d;
  --bg-2: #404a3d;
  --bg-3: #eddd5e;
  --bg-1: #f8f7f0;
  --bg-6: #404a3d;
  --border-2: #404a3d;
  --border-3: #5b8c51;
  --border-4: rgba(255, 255, 255, 0.377);
  --border-1: rgba(64, 74, 61, 0.2);
  --border-5: #ddd;
  --box-shadow-1:rgb(255 250 250 / 30%);
}
:root {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
#discover-us .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  gap: 0;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

}
section{
  margin: 60px 0;
}
.hero{
  margin: 0;
}

.services {
  padding: 40px 0;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
}

/* ITEM */
.service-item {
  position: relative;
  height: 320px;
  overflow: hidden;
  cursor: pointer;
}

/* IMAGE */
.service-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease;
}

/* DARK OVERLAY (always visible) */
.service-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.85), rgba(0,0,0,0.2));
  z-index: 1;
}

/* ORANGE HOVER OVERLAY */
.service-item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 108, 0, 0.9);
  opacity: 0;
  z-index: 2;
  transition: 0.4s ease;
}

/* CONTENT BASE (TITLE ALWAYS VISIBLE) */
.service-content {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 80%;              /* 🔥 əsas fix */
  max-width: 500px;       /* optional */

  z-index: 3;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;     /* 🔥 vacib */
}

/* TITLE ALWAYS */
.service-content h3 {
  font-size: 32px;
  margin-bottom: 0;
  transition: 0.3s;
}

/* TEXT + LINK (hidden initially) */
.service-content p,
.service-content span {
  opacity: 0;
  transform: translateY(15px);
  transition: 0.4s ease;
}

/* 🔥 HOVER EFFECT */
.service-item:hover::after {
  opacity: 1;
}

.service-item:hover img {
  transform: scale(1.1);
}

/* TEXT SHOW */
.service-item:hover .service-content p,
.service-item:hover .service-content span {
  opacity: 1;
  transform: translateY(0);
}

/* TITLE MOVE UP */
.service-item:hover .service-content h3 {
  margin-bottom: 10px;
}

/* LINK STYLE */
.service-content span {
  display: inline-flex;
  margin-top: 10px;
  font-weight: 600;
}
.service-content span{
  display: flex;
  gap: 5px;
  align-items: center
}
.service-content span svg{
  width: 14px;
  height: 14px;
  transition: 0.4s ease;
}
.service-content span:hover svg{
  transform: translateX(7px);
}
.section-top{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start
}

.brends .row {
    row-gap: 24px
}

.brends-card {
    background-color: #fafbfd;
    border: none;
    border-radius: 10px;
    height: 120px;
    padding: 15px
}

.mouse-cursor-gradient-tracking {
    position: relative;
    font-size: 1.2rem;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: 0;
    overflow: hidden;
    display: flex;
    align-items: center
}

.brends-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 10
}

.mouse-cursor-gradient-tracking::before {
    --size: 0;
    content: '';
    position: absolute;
    z-index: 1;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side,#dbdbe2,transparent);
    transform: translate(-50%,-50%);
    transition: width .4s,height .4s
}

.mouse-cursor-gradient-tracking:hover::before {
    --size: 1000px
}

@media screen and (min-width: 768px) {
    .section-title .banner {
        font-size:28px
    }
}
.brends .row{
  grid-template-columns: repeat(6,1fr);
}

.blog-card:hover .blog-card-content a {
    color: var(--color-1)
}

.blog-card:hover .readmore {
    background: var(--main-color2)
}

.blog-card-content a {
    text-overflow: ellipsis;
    -webkit-box-orient: vertical
}

.blog-navigation button:not(:first-child) {
    margin-left: 10px
}

.blog-card:hover .blog-card-figure img {
    transform: scale(1.1)
}

.blog-navigation {
    display: none;
    align-items: center
}

.blog-navigation button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--border-2);
    color: var(--pbmit-agrimo-blackish-color);
    transition: .5s
}

.blog-navigation button:hover {
    background: var(--bg-2);
    color: var(--white)
}

.blog-card-figure {
    position: relative;
    border-radius: 10px;
    transition: .3s ease-in;
    overflow: hidden;
    height: 250px
}

.blog-card-figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out
}

.blog-card-figure h6 {
    font-size: 14px;
    line-height: 24px;
    z-index: 10;
    position: absolute;
    left: 20px;
    top: 20px;
    display: inline-block;
    text-transform: uppercase;
    color: #999;
    letter-spacing: .5px;
    padding: 5px 15px 3px;
    margin-bottom: 5px;
    border-radius: 10px;
    background: var(--white);
    color: var(--color-1)
}

.readmore {
    bottom: 6px;
    right: 6px;
    position: absolute;
    transition: .5s;
    width: 45px;
    display: flex;
    align-items: center;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    justify-content: center;
    background: var(--bg-3);
    color: var(--color-3)
}

.readmore svg {
    transition: transform .4s ease-in,opacity .4s ease-in
}

.readmore-svg2 {
    transform: scale(.26) translate(-60px,54px)
}

.readmore-svg1 {
    transform: scale(1) translate(-7px,0)
}

.blog-card-content {
    padding: 20px 10px
}

.blog-card-publish-list {
    display: flex;
    align-items: center;
    justify-content: start
}

.blog-card-publish-list li {
    display: flex;
    align-items: center;
    color: var(--color-3)
}

.blog-card-publish-list li svg {
    margin-right: 5px;
    color: var(--color-1);
    width: 16px;
    height: 16px
}

.blog-card-publish-list li:not(:first-child) {
    margin-left: 20px
}

.blog-card-title {
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: flex-start
}

.blog-card-content a {
    color: var(--color-3);
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 18px;
    transition: .3s ease-in-out;
    line-height: 1.2
}

.blog-card:hover .readmore-svg2 {
    transition: transform .4s ease-out,opacity .4s ease-out;
    color: var(--white);
    transform: scale(1) translate(8px,-1px)
}

.blog-card:hover .readmore-svg1 {
    transition: transform .2s ease-out,opacity .2s ease-out;
    transform: scale(.26) translate(60px,-50px)
}

@media screen and (min-width: 768px) {
    .section-title .banner {
        font-size:28px
    }

    .blog-navigation {
        display: flex
    }

    .blog-card-content a {
        font-size: 22px
    }
}

.onfooter {
  margin: 60px 0;
}

.onfooter-box {
  background: linear-gradient(135deg, #314075, #3d4f8f);
  border-radius: 10px;

  padding: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  position: relative;
  overflow: hidden;
}

/* glow effect */
.onfooter-box::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: rgba(255, 108, 0, 0.15);
  filter: blur(120px);
  top: -80px;
  right: -80px;
}

/* LEFT */
.onfooter-content {
  max-width: 450px;
  color: #fff;
}

.onfooter-content h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.onfooter-content p {
  opacity: 0.8;
  margin-bottom: 20px;
}

/* BENEFITS */
.onfooter-benefits {
  list-style: none;
  padding: 0;
}

.onfooter-benefits li {
  margin-bottom: 10px;
  font-size: 14px;
}

/* FORM */
.onfooter-form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 380px;
}

/* INPUTS */
.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #ff6c00;
}

/* TEXTAREA */
.form-group textarea {
  min-height: 90px;
  resize: none;
}

/* BUTTON */
.submit-btn {
  width: 100%;
  padding: 14px;
  background: #ff6c00;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #e55f00;
  transform: translateY(-2px);
}



:root{
    --blue: #0066b1;
    --bg: #f6f6f6;

}

.section__title{
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    color: #fff
}
.container{
    max-width: 1400px;
    padding: 0 20px;
    margin: auto;
}
a{
    text-decoration: none;
    color: #333
}

/* Hover animation */
.contact-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.contact-card {
  padding: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
  border-radius:10px
}

.contact-card.dark {
  background: linear-gradient(135deg, #333, #000000cc);
}

.contact-card.green {
  background: linear-gradient(135deg, var(--main-color2),#000000c2);
}

.contact-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  margin-bottom: 40px;
}

.contact-value {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff4a;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.contact-note {
  font-size: 13px;
  opacity: 0.8;
}

.contact-link {
  font-size: 14px;
  color: #b5ffeb;
}

.contact-bottom {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 20px;
}

.contact-form {
  background: #000000;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contact-form input,
.contact-form textarea {
  border: none;
  background: var(--bg);
  padding: 14px;
  border-radius: 10px;
  font-size: 14px;
}

.contact-form textarea {
  resize: none;
  height: 100px;
}

.policy {
  display: flex;
  gap: 10px;
  font-size: 12px;
  color: #fff;
}

.btn-green {
  margin-top: 10px;
  background: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 999px;
  padding: 14px 20px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

.btn-green svg {
  background: #fff;
  color: var(--main-color);
  width: 35px;
  height: 35px;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}
.btn-green:hover svg {
  transform: rotate(0deg);
}

.contact-map {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
/* footer bottom */

@media (max-width: 768px) {
  .container{
    padding: 0 10px;
  }
  
}

@media (max-width: 992px) {

.contact-top{
  gap: 15px;
}
.contact-bottom {
    display: grid;
    grid-template-columns: 36% 1fr;
    gap: 20px;
}
.contact-form {
  padding: 15px;
}
.btn-green {
  width: 100%;
}
}

@media (max-width: 768px) {
.section__title {
    font-size: 29px !important;
  line-height: 35px; }
  .container{
    padding: 0 10px;
  }
  .contact-top,.contact-bottom{
    grid-template-columns: 1fr;

  }
  .btn-green{
    gap: 10px;
    width: max-content;
  }
    section {
    padding: 40px 0;
}
}


:root {
    --footer-color-bg: #121F28;
    --footer-color-font: #767E93;
    --radius: 2.5rem;
    --radius-sm: 1.875rem;
    --radius-lg: 3.75rem;
}

.footer {
    --footer-color-delimiter: #ebebeb;
    background-color: var(--footer-color-bg);
    color: var(--footer-color-font);
    position: relative;
    z-index: 99;
    border-radius: 10px 10px 0 0;
    padding: 0 var(--offset-side)
}

.footer__main {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0
}

@media only screen and (min-width: 768px) {
    .footer__main {
        padding: 3.125rem 0
    }
}

@media only screen and (min-width: 1200px) {
    .footer__main {
        flex-direction: row;
        padding: 5rem 0
    }
}

@media only screen and (max-width: 1200px) {
    .footer__main {
        gap: 3.75rem
    }
}

@media only screen and (min-width: 992px) {
    .footer__content {
        width: 50%
    }
}
.footer-nav__link,
.footer-nav__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;       
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.footer__text {
    font-size: 17px;
    line-height: 24px;
    margin: 0
}
.footer__text span{
    color: #fff
}

.footer__text:not(:last-child) {
    margin-bottom: 2.5rem
}

@media only screen and (min-width: 768px) {
    .footer__text:not(:last-child) {
        margin-bottom: 3.75rem
    }
}

@media only screen and (min-width: 1200px) {
    .footer__text:not(:last-child) {
        margin-bottom: 5rem
    }
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .9375rem
}

.footer__phone {
    --footer-color-font: white;
    font: 2rem/1 var(--font);
    letter-spacing: -.02em;
    white-space: nowrap
}

@media only screen and (min-width: 768px) {
    .footer__phone {
        font-size: 34px
    }
}

.footer__email {
    --footer-color-font: #fff
}

@media only screen and (min-width: 768px) {
    .footer__email {
        font-size: 20px !important
    }
}

.footer__nav {
    display: flex;
    gap: 5rem
}

@media only screen and (max-width: 767.9px) {
    .footer__nav {
        flex-direction: column;
        gap: 2.5rem
    }
}

.footer-nav__title {
    --footer-color-font: white;
    display: inline-block;
    font: 1.25rem/1 var(--font);
    letter-spacing: .01em;
    margin-bottom: 1.25rem;
    -webkit-user-select: none;
    user-select: none
}

@media only screen and (min-width: 768px) {
    .footer-nav__title {
        font-size: 19px;
        margin-bottom: 1.5625rem
    }
}

.footer-nav__list {
    padding: 0;
    margin: 0
}

.footer-nav__item {
    text-indent: 0
}

.footer-nav__item::marker {
    content: ""
}

.footer-nav__item:not(:last-child) {
    margin-bottom: .9375rem
}

.footer-nav__link {
    font: 1.125rem/1 var(--font);
    letter-spacing: -.02em;
    -webkit-user-select: none;
    user-select: none
}

@media only screen and (min-width: 768px) {
    .footer-nav__link {
        font-size: 17px
    }
}

.footer__other {
    font: .9375rem/1.4 var(--font);
    -webkit-user-select: none;
    user-select: none;
    padding: 2.5rem 0
}

 .footer__other {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px
    }

.footer__other:not(:first-child) {
    border-top: 1px solid #2A353E
}

.footer a {
    color: var(--footer-color-font);
    text-decoration: none;
    transition: color var(--transition-time)
}

.footer a:hover {
    color: #fff
}


@media(max-width:768px) {

    .footer__other {
        flex-direction: column;
        gap: 10px;
    }

    .footer__other span {
        line-height: 18px;
    }

}